:root {
  --color-primary: #08566B;
  --color-secondary: #666666;
  --color-accent: #FF6B6B;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #B0B9C6;
  --color-green: #007A46;
  --color-orange: #F58120;
} 